
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.night-mode{
    width: 60px;
    height: 30px;
    position: fixed;
    top:20px;
    left: 20px;
    border:1px solid black;
    border-radius:20px;

}
.movable-item{
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius:100%;
    background-color: rgba(255, 205, 25, 0.962);
    transition: ease-in 0.5s;
}
#nigh-mode  {
    display: none;
}
.movedd
{  
    background-color: rgba(255, 255, 255, 0.962);
    transform: translateX(28px);
    transition: ease-in 0.5s;
}
.bg-night{
    background-color: rgb(31, 31, 31);
    color: white;
    transition: ease-out 0.7s;

}
#container{
   width: 100%;
   height: 100vh;
   display: flex;
  justify-content: center;
  transition: ease-out 0.7s;

  
  
  
}
.form{
    width: 350px;
    height: fit-content;
    padding: 20px;
    position: relative;
    top: 80px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.911);

}
input{
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    color: aliceblue;
    background-color: rgba(79, 79, 79, 0.421);

    margin-top: 10px;
    margin-bottom: 20px;
    

}
::placeholder
{
    color: white;
    font-size:small ;
    border-radius: 10px;
    padding: 5px;
}
label{
    padding-left: 15px;
}
    

button{
    padding: 10px;
    margin: 10px;
    width: 80px;
    border:none;
    border-radius: 8px;
    color:white;
    background-color: hsl(216, 100%, 37%)

}
#checkbox{
width:20px;
padding: 0px;
margin: 0px;
}

@media screen and (max-width:768px){
    
    .form{
        width:auto;
        margin:25px;
    }
}